/* 1. Global Reset & Fonts*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sogeo UI', Verdana, Geneva, Tahoma, sans-serif, Comic Sans MS;
}

body {
    background-color: black;
    color: white;
    line-height: 1.6;
}

/* 2. Navigation Styling */
header {
  background: #1e293b;
  padding: 1rem 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #38bdf8;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

nav a {
  color: #f8fafc;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: #38bdf8;
}

/* 3. Hero Section */
.hero {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  padding: 2rem;
}

.hero h1 {
  font: Comic Sans MS;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.highlight {
  color: #38bdf8;
}

.btn {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #38bdf8;
  color: #0f172a;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  transition: transform 0.2s, background-color 0.2s;
}

.btn:hover {
  background-color: #7dd3fc;
  transform: translateY(-2px);
}

/* 4. Content Containers */
.container {
  max-width: 800px;
  margin: 3rem auto;
  padding: 0 1.5rem;
}

.container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  border-bottom: 2rem;
  border-bottom: 2px solid #334155;
  padding-bottom: 0.5rem;
}

/* 5. Skills Grid (Flexbox Layout) */
.skills-grid {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.skill-card {
  background-color: #1e293b;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  border: 1px solid #334155;
}

/* 6. Footer */
footer {
  text-align: center;
  padding: 2rem;
  color: #94a3b8;
  border-top: 1px solid #1e293b;
}
